<% provide(:title, "About") %>
<h1>About</h1>
<p>
	<%= t".the"%> <a href= "http://www.railstutorial.org/"><em><%= t".rubyonrails"%></em></a> is a
	<a href="http://www.railstutorial.org/book"><%= t".book"%></a> <%= t".and"%>
  	<a href="http://screencasts.railstutorial.org/"><%= t ".series"%></a>
  	<%= t".toteach"%>
  	<a href= "http://rubyonrails.org/"><%= t".Rails"%></a>.
  	<%= t".sample"%>
</p>
